// main: main.less


//abilities

.abilities{
    position: relative;
}

.abilities__title{
    max-width: 587px;
    color: #131313;
    font-family: "Days", sans-serif;
    font-size: 100px;
    font-weight: bold;
    line-height: 80px;
    text-transform: uppercase;
    letter-spacing: 7.5px;

    margin: 0 auto;
    padding-left: 9px;

    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.abilities__photo{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -76%, 0);
}

.abilities__img{
    -webkit-animation: moveXR 2s infinite alternate;
            animation: moveXR 2s infinite alternate;
}

.abilities__photo::after{
        content: "";
        background-image: url("../img/car-shadow.png");

        width: 645px;
        height: 477px;
        
        position: absolute;
        bottom: -193px;
        right: -39px;

        z-index: -1;


        -webkit-animation: moveXR 2s infinite alternate;


                animation: moveXR 2s infinite alternate;
}





//cards

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    width: 301px;
    height: 409px;
    box-shadow: 0 0 26px 1px rgba(21, 22, 21, 0.22);
    border-radius: 5px;
    background-color: #ffffff;

    &::before{
        content: "";
        width: 292px;
        height: 409px;
        box-shadow: 0 0 26px 1px rgba(21, 22, 21, 0.22);
        border-radius: 5px;
        background-color: #ffffff;

        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }
}

.card__img {
    z-index: 1;
    position: absolute;
    top: 0px;
}

.flex__bottom .card__item{
    .card__img {
        z-index: 1;
        position: absolute;
        top: -13px;
    }

}






.card__title{
    font-size: 18px;
    font-weight: bold;
    color: #131313;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    text-align: center;
}

.card__text{
    width: 246px;
    color: #131313;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    margin: 6px auto 13px;
}

.card__text--db{
    margin-bottom: 38px;
}

.flex__bottom{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 46px;
}

//buy

.price--black div{
    color: #131313;
}



.buy--abilities{
    margin-left: 147px;
}

.btn--abilties{
    padding: 15px 67px;
    
    font-size: 28px;
    letter-spacing: 1.8px;

    padding: 20px 79px;
    z-index: 1000;
}

@media(max-width: 1170px){
    .abilities{
        margin-top: -130px;
    }
    
    .cards {
        padding-top: 504px;
        max-width: 620px;
        margin: 0 auto;
    }

    .abilities__img{
        margin-top: -675px;
    }

    .abilities{
        .buy{
            flex-direction: column;
        }

        .buy--abilities {
            margin-left: 0;
        }
    }

    .abilities__photo::after {
        bottom: 100;
    }

    .flex__bottom{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}


@media (max-width: 650px){
    .abilities{
        .buy{
            flex-direction: row;
        }
    }

    .abilities__img{
        margin-top: -874px;
        width: 600px;
    }

    .abilities__photo::after {
        bottom: 300px;
    }

    .abilities__title{
        font-size: 90px;
    }

    .cards{
        padding-top: 533px;
    }

    .card__item{
        width: 100%;
        margin-top: 24px;

        &::before{
            width: 100%;
        }
    }

    .card__text{
        width: 90%;
    }

    .flex__bottom{
        margin-top: 0;
        justify-content: center;
    }

    .btn--abilties{
        .btn
    }

    .price{
        margin-left: 20px;
    }

}

@media (max-width: 990px){

}

@media (max-width: 770px){ 

}

@media (max-width: 575px){
    .cards{
        padding-top: 419px;
    }

    .abilities__img{
        margin-top: -852px;
        width: 490px;
    }

    .abilities__title{
        font-size: 70px;
        line-height: .85;
    }


}

@media (max-width: 420px){

    .btn--abilties{
        padding: 15px 35px;
        font-size: 18px;
    }

    .abilities__title{
        font-size: 61px;
    }

    .cards{
        padding-top: 322px;
    }

    .abilities__img{
        margin-top: -800px;
        width: 402px;
    }

}

@media (max-width: 380px){
    .abilities__title{
        font-size: 51px;
        letter-spacing: 3.5px;
    }

    .abilities__img{
        margin-top: -800px;
        width: 350px;
    }

    .cards{
        padding-top: 290px;
    }

}



