// main: main.less

//about

.about{
    background: url("../img/about/bg.jpg") center no-repeat;
    background-size: cover;

    max-width: 100%;
    min-height: 834px;

    margin: 77px 0;

    position: relative;
}

.about__title{
    font-family: 'Days', sans-serif;
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 5.4px;

    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);

    span{
        font-size: 0.7em;
        letter-spacing: 3.6px;
    }
}

//spect

.specs__photo{
    position: absolute;
    left: 50%;
    transform: translateX(-44%);
    bottom: -136px;

    padding-right: 30px;
}

.hour1{
    max-width: 100%;
    
    position: absolute;
    bottom: 211px;
    left: 131px;
    z-index: 1;

    -webkit-animation: rotate 15s infinite linear;

            animation: rotate 15s infinite linear;
}

.specs__img{
    width: 993px;
    height: auto;
}

.specs{
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    padding-top: 32%;
}

.specs__item{
    display: flex;
    flex-direction: column;
    z-index: 100;
    font-size: 10px;
}

.specs__about{
    font-size: 3em;
    background: linear-gradient(to bottom, #49cc1b 0%, #245b10 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    
    color: #49cc1b;
    text-shadow: 0 0 5px rgba(14, 155, 17, 0.22);
    
    font-weight: bold;
    text-transform: uppercase;
}

.specs__num{
    .specs__about;
    font-size: 10em;
    letter-spacing: 7.5px;
    font-weight: bold;
}

.specs__text{
    color: #ffffff;
    font-size: 1.6em;
    font-weight: bold;

    margin-top: 20px;

    max-width: 234px;
}

@media(max-width: 1230px){
    .specs__img {
        width: 843px;
    }
    
}

@media (max-width: 900px){
    .about{
        min-height: 1080px;
    }
    .about__title{
        font-size: 60px;
        position: static;
        transform: none;
    }

    .about__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 100px;
    }

    .specs{
        flex: none;
        padding-top: 0;
        margin-top: -135px;
    }

    .specs__photo{
        position: relative;
        align-self: center;
        left: 0;
        transform: none;
        bottom: 0;
        padding-right: 0;
        margin-top: 40px;
        margin-right: -70px;
    }

    .specs__img{
        width: 839px;
    }


    .hour1{
        width: 10%;
        bottom: 216px;
    }


}

@media (max-width: 770px){
    .about__title{
        font-size: 40px;
    }

    .specs__item{
        font-size: 8px;
    }

    .about{
        min-height: 941px;
    }


}

@media (max-width: 630px){
    .about{
        min-height: 900px;
    }

    .specs__img{
        width: 700px;
    }

    .hour1{
        bottom: 170px;
    }

    .specs{
        margin-top: -100px;
    }

}


@media (max-width: 540px){
    .about{
        min-height: 700px;
    }

    .about__title{
        font-size: 23px;
    }

    .specs__item{
        font-size: 6px;
        width: 200px;
        margin-right: 20px;
    }

    .specs__img{
        width: 575px;
    }

    .specs__photo{
        margin-right: -50px;
    }

    .hour1 {
        bottom: 115px;
        left: 84px;
    }
}

@media (max-width: 420px){
    .about{
        min-height: 600px;
    }

    .about__title{
        font-size: 21px;
    }

    .specs{
        font-size: 5px;
    }
    
    .specs__text{
        max-width: 193px;
    }

    .specs__img{
        width: 434px;
    }

    .specs__photo{
        margin-right: -44px;
    }
}