// main: main.less

.easy{
    background: url("../img/easy/bg.jpg") center no-repeat;
    background-size: cover;

    max-width: 100%;
    height: 1000px;

    position: relative;
    z-index: 0;

    .slick-list{
        overflow: visible !important;
        transform: translate3d(0, 30%, 0) !important;
    }

    .slick-dots{
        bottom: 324px;
    }

    .slick-arrow::after{
        background: url("../img/easy/arrow-white.png") center no-repeat;
    }

    .submit--btn{
        width: 86%;
    }
}

.easy__title{
    font-family: "Days", sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 100%;
    text-align: center;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 160px;
    z-index: 1;
    
    }

    .easy-cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-bottom: 50px;
        margin-top: 45px;
    }

.easy-cards__item{
    width: 239px;
    height: 297px;
    box-shadow: 0 0 26px 1px rgba(21, 22, 21, 0.22);
    background-image: linear-gradient(to top, #227e10 0%, #7a741b 100%);
    
    transform: skewX(-5deg);
    border-radius: 5%;

    position: relative;
    z-index: 1; 

    margin: 0 auto;

    &::after{
        content: "";
        width: 245px;
        height: 297px;
        box-shadow: 0 0 26px 1px rgba(21, 22, 21, 0.22);
        background-image: linear-gradient(to top, #2b6a18 0%, #b5b717 100%);
        
        transform: skewX(-5deg);
        border-radius: 5%;
    
        
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    &::before{
        content: "1";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-top: 3px;
    
        width: 40px;
        height: 40px;
        box-shadow: inset 4px 2px 0 rgba(57, 190, 22, 0.35);
        background-image: linear-gradient(to bottom, #49cc1b 0%, #245b10 100%);
        border-radius: 50%;
        transform: skewX(5deg);
    
        position: absolute; 
        top: -18px;
        left: -18px;
    }

    &.card_2::before{
        content: "2";
    }

    &.card_3::before{
        content: "3";
    }

    &.card_4::before{
        content: "4";
    }

    &:last-child .easy-cards__arrow{
        display: none;
    }
    
}


.easy-cards__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding-top: 12px;

    transform: skewX(5deg);
}

.easy-cards__arrow{
    width: 38px;
    height: 27px;
    display: block;
    background: url("../img/easy/right-arrow.png");
    background-size: contain;

    position: absolute;
    top: 143px;
    right: -54px;

    
}

.easy-cards__title{
    max-width: 210px;
    color: #f8f7f7;
    font-family: "Days", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 18px;

    margin-bottom: 5px;
}

.easy-cards__text{
    max-width: 190px;
    color: #f3f1f7;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.easy-cards__img{
    left: 50%;
    transform: skewX(5deg) translateX(-50%);
    position: absolute;
    bottom: 7px;
}

.easy-cards__item:nth-child(3) .easy-cards__img{
    bottom: 23px;
}

.easy-cards__item:nth-child(4) .easy-cards__img{
    bottom: 36px;
}

.easy .btn{
    max-width: 492px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 220px;
}

@media(max-width: 1230px){
    
}

@media (max-width: 990px){

}

@media (max-width: 770px){ 

}

@media (max-width: 575px){

}

@media (max-width: 420px){

}
