// main: main.less

.easy{
    background: url("../img/easy/bg.jpg") center no-repeat;
    background-size: cover;

    max-width: 100%;
    height: 1000px;

    position: relative;
    z-index: 0;
}

.easy__title{
    font-family: "Days", sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;

    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    }