// main: main.less

.gift__photo{
    position: relative;
    max-width: 722px;
    margin-left: -90px;

    order: 1;
}

.gift__img{
    max-width: 100%;
    height: auto;
}

.gift__stick1{
    width: 16%;

    position: absolute;
    bottom: 0%;
    right: 80%;
    animation: moveXR 2s infinite alternate;
}

.gift__stick2{
    width: 17%;

    position: absolute;
    bottom: 43%;
    right: -9%;
    animation: moveYU 2s infinite alternate;
}

.gift__rock{
    width: 9%;
    
    position: absolute;
    bottom: 18%;
    right: 87%;

    animation: moveYD 2s infinite alternate;
}

.gift__round{
    width: 23%;
    
    position: absolute;
    top: 2%;
    left: 6%;

    animation: rotate 15s infinite linear;
}

.gift__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift__content{
    order: -1;
    max-width: 100%;
    height: auto;
    font-size: 10px;
}

.gift__title{
    max-width: 646px;;
    color: #262525;
    font-family: "Days", sans-serif;
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;

    .green{
        color: #42b519;
    }

    .middle{
        font-size: 1.2em;
        letter-spacing: 2.4px;
    }

    .big{
        font-size: 1.85em;
    }
}

.gift__text{
    max-width: 540px;
    color: #262525;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2;
}

@media(max-width: 1230px){
    
}

@media (max-width: 990px){
    .gift__inner{
        flex-wrap: wrap;
    }

    .gift__photo{
        margin-left: -35px;
        order: -1;
    }

    .gift__content{
        text-align: center;
        order: 1;
    }

    .gift__text{
        margin: 0 auto;
    }

}

@media (max-width: 770px){ 
    .gift__content{
        font-size: 8px;
    }

    .gift__text{
        font-size: 2.5em;
    }

}

@media (max-width: 575px){
    .gift__content{
        font-size: 7px;
    }

}

@media (max-width: 470px){
    .gift__content{
        font-size: 6px;
    }

}

@media (max-width: 420px){
    .gift__content{
        font-size: 5px;
    }

}

@media (max-width: 350px){
    .gift__content{
        font-size: 4px;
    }

}