// main: main.less

//header

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    width: 100%;

    margin-top: 39px;
    
}

.header.fixed{
    padding: 20px 0 15px;

    background-color: #131313;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: -39px;
    left: 0;
    z-index: 10000;
    transform: translate3d(0, 0, 0);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    padding-right: 35px;
}

// nav

.nav{

    a{
        text-decoration: none;
        color: #f3f1f7;
        &:hover{
            color: #379118;
        }

        
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 45%;
    margin: 0 25px;

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.85px;
}

.nav__link{
    margin-left: 10px;
}

.nav-toggle{
    width: 17px;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;

    position: absolute;
    top: 16px;
    right: 9px;
    z-index: 1;

    cursor: pointer;
}

.nav-toggle::before{
    content: "";
    width: 34px;
    height: 34px;

    box-shadow: inset 4px 2px 0 rgba(57, 190, 22, 0.35);
    background-color: #0c031b;
    background-image: linear-gradient(to bottom, #49cc1b 0%, #245b10 100%);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-toggle:focus{
    outline: none;
}

.nav-toggle__item{
    display: block;
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background 0.2s linear;
}

.nav-toggle__item::before,
.nav-toggle__item::after{
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;

    transition: transform 0.2s linear;
}

.nav-toggle__item::before{
    top: -4px;
}

.nav-toggle__item::after{
    bottom: -4px;
}

.nav-toggle.active .nav-toggle__item{
    background: none;
}

.nav-toggle.active .nav-toggle__item::before{
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0);
}

.nav-toggle.active .nav-toggle__item::after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0, 3px, 0);
}


// logo

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;

}

.logo__text{
    text-transform: uppercase;
    font-size: 11px;
    line-height: 2.2;
    letter-spacing: 2;

    margin-left: 15px;
    margin-top: -6px;
}

.logo__img{
    width: 70%;
    max-width: 133px;
    min-width: 98px;
    height: auto;
}

//contacts

.contacts{
    display: flex;
    width: 19%;
    min-width: 278px;
    max-width: 291px;
    justify-content: space-between;
    align-items: center;

    position: relative;


    

    .contacts__viber{
        position: relative;
    
        width: 34px;
        min-width: 31px;
        height: 34px;
        min-height: 31px;
        background: linear-gradient(to top, #8844cd, #7833a4);
        border-radius: 50%;
    
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
    
        }

        &:hover{
            background: linear-gradient(to top, lighten(#8844cd, 10%), lighten(#7833a4, 10%));
        }

        &:active{
            background: linear-gradient(to top, darken(#8844cd, 10%), darken(#7833a4, 10%));
        }
    }
    
    .contacts__whatsapp{
        .contacts__viber;
        background-image: linear-gradient(to top, #236020, #408b3a);
        
        &:hover{
            background: linear-gradient(to top, lighten(#236020, 10%), lighten(#408b3a, 10%));
        }

        &:active{
            background: linear-gradient(to top, darken(#236020, 10%), darken(#408b3a, 10%));
        }
    }
    
}





//phone

.phone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}

.phone--nav{
    display: none;
    margin: 10px 0 27px;
}

.phone_num{
    display: block;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.phone_time{
    
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}

//media
@media(max-width: 1380px){
    /* Nav */
    .nav{
       display: none;

       width: 100%;
       position: absolute;
       padding-top: 434px;
       left: -25px;
       background-color: #131313;
       text-align: center;
       z-index: -1;

       animation: slide-down .3s ease-out;
   }

   .nav.active{
       display: block;

       -webkit-animation: slide-down .3s ease-out;
        -moz-animation: slide-down .3s ease-out;
        animation: slide-down .3s ease-out;
   }

   

   .nav.active .phone--nav{
       display: block;
   }

   .nav-toggle{
       display: block;
   }

   .nav__link{
       display: block;

       margin: 0;
       padding: 8px 20px;
   }

   //logo
   .logo{
       width: 70%;
   }

   //contacts
   .phone{
       display: none;
   }

   .contacts{
       justify-content: flex-end;

       min-width: 0;
       padding-right: 40px;
   }

   .contacts__viber{
       margin-right: 7px;
   }

   

}



@media (max-width: 770px){ 
    .header__inner{
        padding: 0 13px;
    }

    .logo__text{
        letter-spacing: 0.82px;
        margin-bottom: 20px;
    }


    
}

@media (max-width: 547px){
    .logo__text{
        font-size: 8px;
        line-height: 2.2;
        min-width: 166px;
    }

    .contacts{
        .contacts__viber{
            width: 31px;
            height: 31px;

            img{
                width: 15px;
                height: 17px;
            }
        }

        .contacts__whatsapp{
            width: 31px;
            height: 31px;

            img{
                width: 19px;
                height: 20px;
            }
        }
    } 
    
    .nav-toggle::before {
        width: 31px; 
        height: 31px;
    }

    .nav-toggle{
        top: 14px;
    }
}

@media (max-width: 419px){
    .header .logo__text{
        display: none;
    }

}



