// main: main.less

//header

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    width: 100%;

    margin-top: 39px;
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
    margin-right: 35px;
}

// nav

.nav{

    a{
        text-decoration: none;
        color: #f3f1f7;
        &:hover{
            text-decoration: underline;
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 45%;
    max-width: 880px;
    margin: 0 25px;

    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.85px;
}

.nav-toggle{
    width: 17px;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;

    position: absolute;
    top: 25px;
    right: 42px;
    z-index: 1;

    cursor: pointer;
}

.nav-toggle::before{
    content: "";
    width: 34px;
    height: 34px;

    box-shadow: inset 4px 2px 0 rgba(57, 190, 22, 0.35);
    background-color: #0c031b;
    background-image: linear-gradient(to bottom, #49cc1b 0%, #245b10 100%);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-toggle:focus{
    outline: none;
}

.nav-toggle__item{
    display: block;
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background 0.2s linear;
}

.nav-toggle__item::before,
.nav-toggle__item::after{
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;

    transition: transform 0.2s linear;
}

.nav-toggle__item::before{
    top: -5px;
}

.nav-toggle__item::after{
    bottom: -5px;
}

.nav-toggle.active .nav-toggle__item{
    background: none;
}

.nav-toggle.active .nav-toggle__item::before{
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -3px, 0);
}

.nav-toggle.active .nav-toggle__item::after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0, 3px, 0);
}


// logo

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    max-width: 432px;

}

.logo__text{
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1.6;

    margin-left: 15px;
}

//contacts

.contacts{
    display: flex;
    width: 19%;
    min-width: 278px;
    max-width: 291px;
    justify-content: space-between;
    align-items: center;


    

    .contacts__viber{
        position: relative;
    
        width: 34px;
        min-width: 34px;
        height: 34px;
        background: linear-gradient(to top, #8844cd, #7833a4);
        border-radius: 50%;
    
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
    
        }

        &:hover{
            background: linear-gradient(to top, lighten(#8844cd, 10%), lighten(#7833a4, 10%));
        }

        &:active{
            background: linear-gradient(to top, darken(#8844cd, 10%), darken(#7833a4, 10%));
        }
    }
    
    .contacts__whatsapp{
        .contacts__viber;
        background-image: linear-gradient(to top, #236020, #408b3a);
        
        &:hover{
            background: linear-gradient(to top, lighten(#236020, 10%), lighten(#408b3a, 10%));
        }

        &:active{
            background: linear-gradient(to top, darken(#236020, 10%), darken(#408b3a, 10%));
        }
    }
    
}





//phone

.phone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
}

.phone_num{
    display: block;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.phone_time{
    
    display: block;
    font-size: 10px;
    text-transform: uppercase;
}