// // autoprefixer: > 1%; last 2 Chrome versions; not dead, out: ../css/style.css, main: main.less

//intro
.intro
{
    background: url(../img/intro/bg.jpg) center no-repeat;
    background-size: cover;

    width: 100%;
    height: auto;
    min-height: 793px;
    padding-top: 120px;
    padding-bottom: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;


    height: auto;
    position: relative;

}

.intro__title{
    font-family: 'Days', sans-serif;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 3px;

    max-width: 689px;
}

.intro__img{
    position: absolute;
    right: -107px;
    bottom: -159px;
    z-index: 1;
    
    width: 71%;
}


//features

.features{
    
    height: 100%;
    min-height: 163px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 50px 0;
    
}

.features__text{
    font-size: 16px;
    letter-spacing: 1.2px;

}

.features__item{
    padding-left: 80px;

    position: relative;
}


.features__item::before{
    content: "";
    display: block;
    width: 56px;
    height: 58px;
    
    position: absolute;
    top: -20px;
    left: 0;
}

.features__item:first-child::before{
    background: url("../img/intro/suspension.png");
}

.features__item:nth-child(2)::before{
    background: url("../img/intro/icon.png");
}

.features__item:last-child::before{
    background: url("../img/intro/giftbox.png");
}

//buy
.buy{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;

    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f3f1f7;
    font-weight: bold;

    padding: 15px 57px;

    background:linear-gradient(to bottom, #49cc1b, #245b10);
    border-radius: 10px;
    border: none;
    outline: none;

    box-shadow: 0 0 18px 3px #0e9b11;

    transition: .2s;

    cursor: pointer;

    &:hover{
        background: linear-gradient(to bottom, #4ae812, #2c7a11);
    }

    &:active{
        background:linear-gradient(to bottom, darken(#49cc1b, 5%), darken(#245b10, 5%));
    }
}



.price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 25px;
    
}

.price__old{
    font-size: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

.price__act{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}


@media(max-width: 1230px){

    .intro__img{
        right: -200px;
        bottom: -100px;
    }

    .buy{
        margin-top: 35px;
    }
    
}

@media (max-width: 990px){

    .intro__inner{
        align-items: center;
    }

    .intro__img{
        position: static;
    }

    .intro__title{
        text-align: center;
    }

    .buy{
        margin-top: 35px;
    }

}

@media (max-width: 770px){ 
    .intro__title{
        font-size: 50px;
        line-height: 49.93px;
    }

    .features__text{
        font-size: 13px;
    }

    .intro__img{
        width: 90%;
    }
    

    
}

@media (max-width: 575px){

    .intro__title{
        font-size: 40px;
        line-height: 39.93px;
    }

    
}

@media (max-width: 420px){


    

    .intro__title{
        font-size: 30px;
        line-height: 29.93px;
    }

    .features{
        min-height: 110px;
    }

    .features__item::before{
        top: -15px;
        left: -10px;
        width: 39px;
        height: 40px;

    }

    .features__text{
        font-size: 9px;
    }

    .features__item{
        padding-left: 45px;
    }

    .features__item:first-child::before {
        background: url("../img/intro/suspension_small.png");
    }

    .features__item:nth-child(2)::before {
        background: url("../img/intro/icon_small.png");
    }

    .features__item:nth-child(3)::before {
        background: url("../img/intro/giftbox_small.png");
    }

    .btn{
        padding: 13px 49px;
        font-size: 18px;
    }

    .price {
        line-height: 2.5;
        height: 54px;
    }

    .price__act{
        font-size: 22px;
    }

    .price__old{
        font-size: 13px;
    }

}

