// main: main.less

//keyframes

@-webkit-keyframes moveXL{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes moveXL{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

@-webkit-keyframes moveXR{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
    }
}

@keyframes moveXR{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
    }
}

@-webkit-keyframes moveYD{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes moveYD{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@-webkit-keyframes moveYU{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes moveYU{
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes rotate{
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate{
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}


@keyframes slide-down {
    0% { opacity: 0; transform: translateY(-100%); }   
  100% { opacity: 1; transform: translateY(0); }
}