// main: main.less
@font-face {
  font-family: "Days";
  src: url("../fonts/Days.otf");
}

html{
  font-size: 10px;
}

body {
  margin: 0;
  line-height: 1.6;
  letter-spacing: 1;
  font-family: "Montserrat", sans-serif;
  color: #f3f1f7;

  background: url("../img/kvadratik.jpg");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.page{
  overflow: hidden;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;

  z-index: 0;
}

.circles {
  width: 512px;
  height: 512px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;
  //animation: pulse 5s infinite linear;
  //animation-delay: 1s;
  
}

.circles::after {
  content: "";
  width: 886px;
  height: 886px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;
  //animation: pulse 5s infinite linear;
  
}

.circles--bt {
  width: 60%;
  height: 110%;
  top: 70%;
}

.circles--bt::after {
  width: 193%;
  height: 175%;
}

.circles--min {
  width: 67%;
  height: 67%;
}

.circles--min::after {
  width: 175%;
  height: 175%;
}

#modal_form {
  width: 700px; 
  height: 550px; /* Рaзмеры дoлжны быть фиксирoвaны */
  position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
  top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
  left: 50%; /* пoлoвинa экрaнa слевa */
  margin-top: -275px;
  margin-left: -350px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
  display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
  opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
  z-index: 9999; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
  padding: 20px 10px;
}

/* Пoдлoжкa */
#overlay {
  z-index:9998; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.98; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.98; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%; 
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
  color:white;
}



@import "intro.less";
@import "header.less";
@import "video.less";
@import "abilities.less";
@import "about.less";
@import "complect.less";
@import "buycar.less";
@import "gift.less";
@import "reviews.less";
@import "easy.less";
@import "questions.less";
@import "footer.less";
@import "keyframes.less";
@import "media.less";
@import "thanks.less";

@media(max-width: 1140px){
  html{
      font-size: 9px;
  }
}

@media (max-width: 700px){
  #modal_form {

    width: 420px; 
    height: 340px;
    left: 75%;
    top: 63% !important;
  }
}

@media (max-width: 575px){
  html{
      font-size: 7px;
  }
}

@media (max-width: 480px){
  #modal_form {
    width: 380px; 
    height: 300px;
    left: 84%;
    transform: translateX(5%);
  }

}

@media (max-width: 420px){
  html{
      font-size: 6px;
  }

  #modal_form {
    width: 310px; 
    height: 250px;
    left: 45%;
    transform: translateX(70%);
  }

}
