// main: main.less

//Questions
.questions{
    position: relative;

    .bg__item:first-child{
        background: url("../img/reviews/dirt1.png") center;
        background-size: contain;
        width: 228px;
        height: 601px;
    
        position: absolute;
        top: -140px;
        left: -18px;
    }
    
    .bg__item:nth-of-type(2){
        background: url("../img/reviews/roll1.png") center;
        background-size: contain;
        width: 623px;
        height: 470px;

        position: absolute;
        top: -220px;
        right: -154px;
    }
    
    .bg__item:nth-of-type(3){
        background: url("../img/reviews/roll2.png") center;
        background-size: contain;
    
        width: 521px;
        height: 431px;
        position: absolute;
        bottom: -263px;
        left: -105px;

    }
    
    .bg__item:nth-of-type(4){
        background: url("../img/reviews/dirt2.png") center;
        background-size: contain;
        width: 224px;
        height: 601px;
    
        position: absolute;
        bottom: -180px;
        right: 0;
        
        z-index: 1;
    }
}

.questions__inner{
    display: flex;
    justify-content: space-between;
}
.questions__item{
    width: 46%;

    &:first-child{
        padding-top: 74px;
    }

    &:first-child .questions__title{
        width: 480px;
        color: #262525;
        font-family: "Days", sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 0.18px;

        margin-bottom: 30px;
    }

    .questions-item__inner{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: 3px solid #40af19;
        border-bottom: none;
    }

    &:last-child{
        max-width: 550px;
        height: fit-content;
        color: #262525;

        .form__title{
            color: #262525;
            font-size: 30px;
            letter-spacing: 0.05px;
            margin-bottom: 10px;
        }

        .form-text__item{
            color: #262525;
            font-size: 16px;
            font-weight: bold;
        }

        .input{
            background-color: #dadada;
            color: #000;
        }

        .contacts__inner{
            display: flex;
            justify-content: center;
            max-width: 81px;

        }

        .contacts{
            margin: 0 auto 42px;
            padding-top: 18px;
            padding-bottom: 35px;

            max-width: 100%;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border: 3px solid #40af19;
            border-top: 1px solid #dadada;


            .contacts__viber{
                margin-right: 13px;
            }
        }

        .contacts-text{
            color: #262525;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            
            margin-bottom: 14px;

            
        }

        .order{
            margin-bottom: 0;
            padding-top: 45px;
        }

        .submit--btn{
            margin-bottom: 19px;
        }
    }
}

/* Accordion */
.accordion{
    display: flex;
    flex-direction: column;
    
}
.accordion__item{
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 20px 4px rgba(21, 22, 21, 0.22);
    margin-bottom: 26px;

    &:last-child{
        margin-bottom: 0;
    }

    &.active .accordion__content{
        display: block;
    }

    &.active .accordion__header::after{
        transform: rotate(45deg);
    }
    
    &.active .accordion__header{
        border-bottom-color: #e5e5e5;
    }

}

.accordion__header{
    position: relative;

    padding: 15px 0 15px 28px;

    cursor: pointer;

    &::after{
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -3px;
    
        border-top: 3px solid #166207;
        border-left: 3px solid #166207;
    
        position: absolute;
        top: 50%;
        right: 38px;
        transform: translateY(-50%) rotate(-135deg);
        transition: .2s;
    }
}



.accordion__content{
    padding: 0px 28px;
    display: none;
    
    font-size: 14px;
    color: #201f1f;
    font-weight: bold;
}

.accordion__title{
    color: #201f1f;
    font-size: 16px;
    font-weight: bold;
}