// main: main.less

//Questions
.questions__inner{
    display: flex;
    justify-content: space-between;
}
.questions__item{
    width: 47%;

    &:first-child{
        padding-top: 74px;
    }

    &:first-child .questions__title{
        width: 480px;
        color: #262525;
        font-family: "Days", sans-serif;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 0.18px;

        margin-bottom: 30px;
    }

    &:last-child{
        border-radius: 10px;
        border: 3px solid #40af19;
        max-width: 550px;
        height: fit-content;
        padding: 47px 38px 0;
        color: #262525;

        .form__title{
            color: #262525;
            font-size: 30px;
            letter-spacing: 0.05px;
        }

        .form-text__item{
            color: #262525;
            font-size: 16px;
            font-weight: bold;
        }

        .input{
            background-color: #dadada;
            color: #000;
        }

        .contacts{
            margin: 0 auto;
            justify-content: center;

            .contacts__viber{
                margin-right: 13px;
            }
        }
    }
}

/* Accordion */
.accordion{
    display: flex;
    flex-direction: column;
    
}
.accordion__item{
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 20px 4px rgba(21, 22, 21, 0.22);
    margin-bottom: 26px;

    &:last-child{
        margin-bottom: 0;
    }

    &.active .accordion__content{
        display: block;
    }

    &.active .accordion__header::after{
        transform: rotate(45deg);
    }
    
    &.active .accordion__header{
        border-bottom-color: #e5e5e5;
    }

}

.accordion__header{
    position: relative;

    padding: 15px 0 15px 28px;

    cursor: pointer;

    &::after{
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -3px;
    
        border-top: 3px solid #166207;
        border-left: 3px solid #166207;
    
        position: absolute;
        top: 50%;
        right: 38px;
        transform: translateY(-50%) rotate(-135deg);
        transition: .2s;
    }
}



.accordion__content{
    padding: 0px 28px;
    display: none;
    
    font-size: 14px;
    color: #201f1f;
    font-weight: bold;
}

.accordion__title{
    color: #201f1f;
    font-size: 16px;
    font-weight: bold;
}