// main: main.less


.reviews{
    margin-top: 170px;
}

.reviews__buttons{
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 19px;
    font-weight: bold;

    margin: 30px auto 46px;
}

.btn--reviews{
    padding: 15px 15px;
    max-width: 240px;
}

.reviews__title{
    color: #262525;
    font-family: "Days", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;

    text-align: center;
}

.btn.disactive{
    background: none;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: none;
    
    color: #348715;
}

.gallery{
    max-width: 894px;

    margin: 0 auto;
}

.slick-arrow{
    font-size: 0;
    display: block;
    border: 0;
    background: none;
    outline: 0;
    color: transparent; 
    position: absolute;
    top: 36%;
    cursor: pointer;
    
}

.slick-arrow::after{
    background: url("../img/reviews/arrow.png") center no-repeat;
    content: "";
    display: block;
    width: 32px;
    height: 56px;
}

.slick-next{
    z-index: 1;
    transform: rotate(180deg) translateY(67%);
    right: -107px;
}

.slick-prev{
    z-index: 1;
    transform: translateY(-50%);
    left: -138px;
}

.gallery__item{
    outline: none;
}

.slick-dots{
    width: 130px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 122px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li button{
    display: inline-block;
   
    font-size: 0;
    border: 0;
    background: none;
    outline: 0;
    color: transparent; 
    
}

.slick-dots li::after
{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #c1c1c1;
    border-radius: 50%;
    
}
