// main: main.less

//reviews

.reviews{
    margin: 170px 0 100px;
    height: 735px;  

    position: relative;
}

.reviews__buttons{
    max-width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 19px;
    font-weight: bold;

    margin: 30px auto 46px;
}

.reviews__title{
    color: #262525;
    font-family: "Days", sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;

    text-align: center;
}

//bg
.bg__item:first-child{
    background: url("../img/reviews/dirt1.png") center;
    background-size: contain;
    width: 228px;
    height: 601px;

    position: absolute;
    top: 58px;
    left: 0;

    
}

.bg__item:nth-of-type(2){
    background: url("../img/reviews/roll1.png") center;
    background-size: contain;
    width: 640px;
    height: 470px;

    position: absolute;
    top: -140px;
    right: 0;
}

.bg__item:nth-of-type(3){
    background: url("../img/reviews/roll2.png") center;
    background-size: contain;

    width: 521px;
    height: 431px;
    position: absolute;
    bottom: -239px;
    left: 0px;
    z-index: 1;
}

.bg__item:nth-of-type(4){
    background: url("../img/reviews/dirt2.png") center;
    background-size: contain;
    width: 224px;
    height: 601px;

    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: 1;
}

//btn

.btn--reviews{
    padding: 13px 13px;
    max-width: 240px;
}

.btn.disactive{
    background: none;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: none;
    
    color: #348715;
}



//gallery


.gallery{
    max-width: 894px;
    max-height: 522px;
    position: relative;
    z-index: 2;

    margin: 0 auto;
}

.gallery__item{
    outline: none;
    height: 522px;
}

//gallery--photo
.gallery--photo.slick-slider{
    display: none;
}

//.gallery--video.slick-slider{ }

//gallery--video
.gallery--video{
    max-height: 367px;
    max-width: 1020px;
}

.gallery--video .gallery__img{
    border: none;
    border-radius: 2%;
    box-shadow: 15px 23px 17px -6px rgba(21, 22, 21, 0.22);
}

//slick

.slick-arrow{
    font-size: 0;
    display: block;
    border: 0;
    background: none;
    outline: 0;
    color: transparent; 
    position: absolute;
    top: 50%;
    cursor: pointer;
    
}

.slick-arrow::after{
    background: url("../img/reviews/arrow.png") center no-repeat;
    content: "";
    display: block;
    width: 32px;
    height: 56px;
}

.slick-next{
    z-index: 1;
    transform: rotate(180deg) translateY(50%);
    right: -107px;
}

.slick-prev{
    z-index: 1;
    transform: translateY(-50%);
    left: -138px;
}



.slick-dots{
    width: 130px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: -63px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li button{
    display: inline-block;
   
    font-size: 0;
    border: 0;
    background: none;
    outline: 0;
    color: transparent; 
    
}


.slick-dots li{
    font-size: 0;
    display: block;
    border: 0;
    background: none;
    outline: 0;
    color: transparent; 
}

.slick-dots li::after
{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #c1c1c1;
    border-radius: 50%;
    
    cursor: pointer;
}

.slick-dots li.slick-active::after{
    background: #43b819;
}


